body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212529;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    overflow: auto;
    margin: 0;
    padding: 25px;
    background-color: #445d6e;
    color: #8f9ea8;
}

a {
    color: #fff;
    margin-right: 10px;
}

.content {
    margin: 25px;
    padding: 25px;
    border: 1px solid yellowgreen;
    background-color: #254356;
    color: #fff;
}

.content li {
    list-style: none;
    margin-bottom: 15px
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}

button {
    margin-top: 10px;
    margin-left: 110px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid yellowgreen;
}

th, td {
    border: 1px solid yellowgreen;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2f4f4f;
    color: white;
}

svg text {
    dominant-baseline: middle;
}

.y-axis-label {
    text-anchor: end;
    transform: translateX(-5px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.chart {
    width: 800px;
    height: 500px;
}

.legend {
    float: right;
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.legend-color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
